.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .yellowbox{
      border:2px solid;
      border-color: rgba(255, 255, 0, 0.63);
      box-shadow: 0 10px 20px rgba(255, 238, 0, 0.555), 0 6px 6px rgba(255, 238, 0, 0.589);
  }

  .blackbox{
    border:2px solid;
    /* border-color: rgba(0, 0, 0, 0.404); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.555), 0 6px 6px rgba(0, 0, 0, 0.589);
  }
  div.donut-tip {	
    position: absolute;	
    width:300px;		
    text-align:justify;								
    padding: .5rem;				
    background: #ffffff;
    color: #313639;	
    border: 1px solid #313639;		
    border-radius: 8px;			
    pointer-events: none;
    font-size: 1.3rem;			
}